{{#if artistHasSongs}}
  {{#each sortedSongs as |song|}}
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{song.title}}</h4>
        <p class="card-text">
          {{format-currency song.price}}
          <br>
          Play Count: {{song.playCount}}
        </p>
        {{#heart-like song=song like=(action "onLike" song)}}
          <span>Like</span>
        {{/heart-like}}
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No songs have been added for this artist yet.</p>
{{/if}}
