{{#if artistHasSongs}}
  {{#each sortedSongs as |song|}}
    <div class="song">
      <h4>{{song.title}}</h4>
      <div>
        {{format-currency song.price}}
      </div>
      <div>
        {{song.playCount}}
      </div>
      {{#heart-like song=song like=(action "onLike" song)}}
        <span>Like</span>
      {{/heart-like}}
    </div>
  {{/each}}
{{else}}
  <p>No songs have been added for this artist yet.</p>
{{/if}}
