<div class="row">
  <div class="col-sm-2">
    <ul class="list-group">
      {{#each model as |artist|}}
        <li class="list-group-item">
          {{#link-to 'artists.artist.songs' artist.id}}
            {{artist.artistName}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-10">
    {{outlet}}
  </div>
</div>
